[submodule "Imaginengion/vendor/GLFW"]
	path = Imaginengion/vendor/GLFW
	url = https://github.com/LuuucasM/glfw.git
[submodule "Imaginengion/vendor/ImGuizmo"]
	path = Imaginengion/vendor/ImGuizmo
	url = https://github.com/LuuucasM/ImGuizmo.git
[submodule "Imaginengion/vendor/glm"]
	path = Imaginengion/vendor/glm
	url = https://github.com/LuuucasM/glm.git
[submodule "Imaginengion/vendor/imgui"]
	path = Imaginengion/vendor/imgui
	url = https://github.com/LuuucasM/imgui.git
	branch = docking
